{% extends "base.html" %}



{%block content%}
	<!-- WELCOME
	================================================== -->
	<section class="section section_welcome" data-parallax="scroll" data-image-src="static/assets/img/blueberries-fruits-leaves.jpg">

		<!-- Content -->
		<div class="section_welcome__main">
			<div class="container">
				<div class="row align-items-center">
					<div class="col">

						<!-- Heading -->
						<h2 class="section__preheading section_welcome__preheading text-center text-muted">
							<!-- <span class="text-primary">Café</span> / Restaurant -->
						</h2>
						<h1 class="section__heading section_welcome__heading text-center">
							Dinebeat
						</h1>
						<p class="section__subheading section_welcome__subheading text-center text-muted">
              Μια Πλατφμόρμα που σας επιτρέπει να δώσετε την καλύτερη εμπειρία
              στους καλεσμένους σας και ταυτόχρονα βελτιστοποιείτε τα αποθέματα
              φαγητού. Είτε οργανώνετε ένα μοναδικό για εσάς γεγονός, είτε ένα
              εταιρικό event, ξέρετε ακριβώς αυτό που θέλουν, αυτοί που θέλετε να είναι μαζί σας
              </p>

						<!-- Button -->
						<div class="text-center">
							<a href="#section_reservation" class="btn btn-primary text-white">
							Εχετε Κωδικο για Εκδηλωση;
							</a>
						</div>

					</div>
				</div> <!-- / .row -->
			</div> <!-- / .container -->
		</div>

		<!-- Footer -->
		<div class="section_welcome__footer">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-md">

						<!-- Social links -->
						<ul class="section_welcome__footer__social text-center text-lg-left">
							<li>
								<a href="#">
									<i class="fa fa-twitter"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-facebook"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-instagram"></i>
								</a>
							</li>
						</ul>

					</div>
					<div class="col-md">

						<!-- Address -->
						<div class="section_welcome__footer__address text-center text-lg-right">
							<i class="fa fa-map-marker"></i> Κάτι εδώ ίσως?
						</div>

					</div>
				</div> <!-- / .row -->
			</div> <!-- / .container -->
		</div>

	</section>

	<!-- DISCOVER
	================================================== -->
	<section class="section section_discover section_no-padding_bottom">
		<div class="container">
			<div class="row">
				<div class="col-md-2 align-self-start">

					<!-- Description -->
					<p class="section_discover__description">
						Ένας  σύγχρονος τρόπος να γνωρίζετε τις προτιμήσεις τους
					</p>

				</div>
				<div class="col-md-4 align-self-start">

					<!-- Image -->
					<div class="section_discover__img">
						<img src="static/assets/img/2.jpg" class="img-fluid" alt="...">
					</div>

				</div>
				<div class="col-md-6 align-self-center">

					<!-- Content -->
					<h2><em>Πως λειτουργεί</em>  η πλατφόρμα</h2>
					<p>
            Έχετε καταλήξει στις καλύτερες εναλλακτικές για το τραπέζι, αλλά δεν ξέρετε
            τι θα ήθελε ο καθένας. Δημιουργείτε με μερικά κλίκ ένα μενού με όλες τις
            καλύτερες εναλλακτικές πιάτων
					</p>

				</div>
			</div> <!-- / .row -->
		</div> <!-- / .container -->
	</section>

	<!-- DISCOVER
	================================================== -->
	<section class="section section_discover">
		<div class="container">
			<div class="row">
				<div class="col-md-2 order-md-2 align-self-end">


					<p class="section_discover__description">
						Στη συνέχεια οι καλεσμένοι σας ψηφίζουν
					</p>

				</div>
				<div class="col-md-4 order-md-3 align-self-start">

					<!-- Image -->
					<div class="section_discover__img alt">
						<img src="static/assets/img/16.jpg" class="img-fluid" alt="...">
					</div>

				</div>
				<div class="col-md-6 order-md-1 align-self-center">

					<!-- Content -->
					<h2><em>Πως το επικοινωνείτε</em> στους καλεσμένους</h2>
					<p>
						Μόλις ολοκληρώσετε την εισαγώγη των εναλλακτικών, λαμβάνετε έναν κωδικό αναφοράς.
</p><p>
            Αυτός ο κωδικός αναφοράς μπορεί να σταλεί είτε μέσω email είτε να αναγράφεται
            στο προσκλητήριο της εκδήλωσης
					</p>

				</div>
			</div> <!-- / .row -->
		</div> <!-- / .container -->
	</section>

	<!-- ABOUT
	================================================== -->
	<section class="section section_about">
		<div class="container">
			<div class="row">
				<div class="col-md-6 order-md-1 align-self-center">

					<!-- Description -->
					<p class="section_about__description">
						Συγκεντρώνουμε όλα τα στοιχεία και σας στέλνουμε καθημερινά στο
            email σας, ενημερώσεις για το πόσοι έχουν ήδη απαντήσει και ποία θα
            πρέπει να είναι η τέλεια κατανομή των πιάτων
          					</p>

				</div>
			</div> <!-- / .row -->
		</div> <!-- / .container -->
	</section>



	<!-- RESERVATION
	================================================== -->
	<section class="section section_reservation section_gray" id="section_reservation">
		<div class="container">
			<div class="row">
				<div class="col">

					<!-- Heading -->
					<h2 class="section__heading text-center">
					Δείτε το μενού της εκδήλωσης σας
					</h2>

					<!-- Subheading -->
					<p class="section__subheading text-center">
						Εισάγετε το όνομα σας (εάν θέλετε) και τον κωδικό
            που αναγράφετε στην πρόσκληση που λάβατε
					</p>

				</div>
			</div> <!-- / .row -->
			<div class="row justify-content-lg-center  section_reservation__row">
				<div class="col-lg-8">

					<!-- Form -->
					<form   class="section_reservation__form" id="reservation__form" action="{{ url_for('menu') }}">
						<div class="row">
							<div class="col-md-12">

								<div class="form-group">
									<!-- <label class="sr-only" for="reservation__form__name">Full name</label> -->
									<input type="text" class="form-control" id="voter_name" name="voter_name" placeholder="Όνομα">
									<div class="invalid-feedback"></div>
								</div>
								<div class="form-group">
									<!-- <label class="sr-only" for="reservation__form__phone">Reservation Code</label> -->
									<input type="tel" class="form-control" id="event_code_id" name="event_code_id" placeholder="Κωδικός Κράτησης">
									<div class="invalid-feedback"></div>
								</div>

							</div>
							<!-- <div class="col-md-6">

								<div class="form-group">
									<label class="sr-only" for="reservation__form__people">People</label>
									<select class="form-control" id="reservation__form__people" name="reservation__form__people">
										<option value="1">1 person</option>
										<option value="2" selected="">2 persons</option>
										<option value="3">3 persons</option>
										<option value="4">4 persons</option>
										<option value="5">5 persons</option>
									</select>
									<div class="invalid-feedback"></div>
								</div>
								<div class="form-group">
									<label class="sr-only" for="reservation__form__date">Date</label>
									<input type="date" class="form-control" id="reservation__form__date" name="reservation__form__date" value="2016-12-31">
									<div class="invalid-feedback"></div>
								</div>
								<div class="form-group">
									<label class="sr-only" for="reservation__form__time">Time</label>
									<input type="time" class="form-control" id="reservation__form__time" name="reservation__form__time" value="18:00">
									<div class="invalid-feedback"></div>
								</div>

							</div> -->
							<div class="col">

								<div class="text-center">
									<button type="submit" class="btn btn-primary" >
										Εισοδος
									</button>
								</div>

							</div>
						</div> <!-- / .row -->
					</form>

				</div>
			</div> <!-- / .row -->
		</div> <!-- / .container -->
	</section>

	<!-- TESTIMONIALS
	================================================== -->
	<section class="section section_testimonials section_border_bottom">
		<div class="container">
			<div class="row">
				<div class="col">

					<!-- Heading -->
					<h2 class="section__heading text-center">
						Τι λένε οι πελάτες για εμάς
					</h2>

					<!-- Subheading -->
					<p class="section__subheading text-center">
						Δείτε παρακάτω τι λένε οι πελάτες μας για την υπηρεσία
					</p>

				</div>
			</div> <!-- / .row -->
			<div class="row">
				<div class="col">
					<div class="section_testimonials__carousel">
						<div class="section_testimonials__carousel__item text-center text-md-left">
							<div class="row align-items-center">
								<div class="col-md-3 order-md-3">

									<!-- Photo -->
									<div class="section_testimonials__photo">
										<img src="static/assets/img/20.jpg" class="img-fluid" alt="...">
									</div>

								</div>
								<div class="col-md-7 order-md-2">

									<!-- Blockquote -->
									<blockquote class="section_testimonials__blockquote mx-auto">
										<p>
											Καλά Μιλαμε γαμω τις φασεις! Εκανα τα γενεθλια μου και
                      ξετρελάθηκαν ολοι!!
										</p>
										<footer class="text-muted">
											Γιαννης Μητσος
										</footer>
									</blockquote>

								</div>
								<div class="col-md-1 order-md-1"></div>
							</div> <!-- / .row -->
						</div>
						<div class="section_testimonials__carousel__item text-center text-md-left">
							<div class="row align-items-center">
								<div class="col-md-3 order-md-3">

									<!-- Photo -->
									<div class="section_testimonials__photo">
										<img src="static/assets/img/21.jpg" class="img-fluid" alt="...">
									</div>

								</div>
								<div class="col-md-7 order-md-2">

									<!-- Blockquote -->
									<blockquote class="section_testimonials__blockquote mx-auto">
										<p>
											Ο γάμος μας ήταν τέλειος! Ολοι οι καλεσμανοι ήταν πολυ χαρουμενοι
                      και ικανοποιημενοι! Μας έστελαν ευχαρηστηρια για μερες!! Σε ευχαριστω
                      τοσο πολυ Save food! Και εσενα βέβαια Μαριε!!
										</p>
										<footer class="text-muted">
											σεληνη ασυλο
										</footer>
									</blockquote>

								</div>
								<div class="col-md-1 order-md-1"></div>
							</div> <!-- / .row -->
						</div>
						<div class="section_testimonials__carousel__item text-center text-md-left">
							<div class="row align-items-center">
								<div class="col-md-3 order-md-3">

									<!-- Photo -->
									<div class="section_testimonials__photo">
										<img src="static/assets/img/22.jpg" class="img-fluid" alt="...">
									</div>

								</div>
								<div class="col-md-7 order-md-2">

									<!-- Blockquote -->
									<blockquote class="section_testimonials__blockquote mx-auto">
										<p>
										Το εταιρικό event ηταν κατι που πάντα με αγχωναν! Με το Save Food
                    η εκδηλωση είχε τεραστια επιτυχια. Θα το χρησιμοποιώ συνέχεια στο μέλλον!
										</p>
										<footer class="text-muted">
											Ελενα ελενακη
										</footer>
									</blockquote>

								</div>
								<div class="col-md-1 order-md-1"></div>
							</div> <!-- / .row -->
						</div>
					</div> <!-- / .carousel -->
				</div>
			</div> <!-- / .row -->
		</div> <!-- / .container -->
	</section>

	<!-- EVENTS
	================================================== -->
	<section class="section section_events section_no-padding_bottom">

		<!-- Intro -->
		<div class="container">
			<div class="row">
				<div class="col">

					<!-- Heading -->
					<h2 class="section__heading text-center">
						Εχετε μια Εκδηλωση;
					</h2>

					<!-- Subheading -->
					<p class="section__subheading text-center">
						Δημιουργείστε τη δική σας εκδήλωση και
            προσφέτερε στους καλεσμένους σας μια μοναδική
            εμπειρία
					</p>

				</div>
			</div> <!-- / .row -->
		</div> <!-- / .container -->

		<!-- Events -->
		<div class="section_events__items">

			<!-- Event #1 -->
			<div class="section_events__item active">

				<!-- Bg image -->
				<div class="section_events__item__bg" style="background-image: url(static/assets/img/8.jpg)"></div>

				<!-- Content -->
				<div class="container">

					<!-- Content: Large -->
					<div class="section_events__item__content_lg">
						<div class="row">
							<div class="col-md-8 col-lg-5">

								<!-- Date -->
								<h3 class="section__preheading text-primary">
									Μπορεις και εσυ
								</h3>

								<!-- Heading -->
								<h2 class="section__heading text-white">
                  Αν είστε εταιρεία που διοργανωνετε event,
                  ζευγαρι για το γαμο σας ή εταιρεια εστιασης
								</h2>

								<!-- Description -->
								<p class="section__subheading">
									Μπορείτε εδώ να εγγραφτείτε και να ξεκινήσετε. Σε 3 βήματα
                  θα έχετε την δική σας φόρμα έτοιμη για να την στείλετε
                  στους καλεσμενου σας
								</p>

								<!-- Button -->
								<a href="{{url_for('submit_menu')}}" class="btn btn-primary text-white">
									εγγραφη
								</a>

							</div>
						</div> <!-- / .row -->
					</div> <!-- / .section_events__item__content_lg -->
          </div> <!-- / .container -->


			</div> <!-- / .section_events__item active-->

		</div> <!-- / .section_events_items -->

	</section>

{% endblock%}
